/* Display Default */
.banner__sections,
.banner__container, 
.banner__left_side, 
.scene, .cube,
.banner__left_side_title, 
.banner__left_side_links, 
.banner__left_side_buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Custom Config */
.banner__sections {
    height: clamp(690px, 100vh, 980px);
    position: relative;
    
}
.banner__container {
    width: var(--global-width);
    height: clamp(690px, 100vh, 980px);
    position: fixed;
    transform: scale(var(--scroll-shrink));
    transform-origin: top center;
    transition: transform 100ms linear;
    justify-content: flex-start;
}

/* Left Sides */
.banner__left_side {
    width: 50%;
    height: 100%;
    flex-flow: column;
    align-items: flex-start;
    position: relative;
    padding: clamp(0.2rem, 2vw + 0.3rem, 2rem);
}
.banner__left_side_title, 
.banner__left_side_links {
    justify-content: flex-start;
    margin: 0 clamp(0.8rem, 1vw + 0.3rem, 1.8rem);
}
.banner__left_side_title h1 {
    font-size: clamp(2rem, 2vw + 1rem, 2.7rem);
}
.banner__left_side p, 
.banner__left_side_title h4 {
    margin: 0.5rem clamp(0.7rem, 1vw + 0.5rem, 1.5rem);
    font-size: clamp(0.9rem, 1vw + 0.5rem, 1.2rem);
}
.banner__left_side_links h2 {
    font-size: clamp(0.9rem, 1vw + 0.5rem, 1.2rem);
}
.banner__left_side_links a {
    margin: 0 0.3rem;
}
.banner__left_side_buttons {
    width: 100%;
    height: auto;
    justify-content: flex-end;
}
.banner__left_side_buttons button {
    padding: clamp(0.6rem, 1vw + 0.4rem, 1rem);
    margin: clamp(0.6rem, 1vw + 0.4rem, 1rem);
    cursor: pointer;
    background-color: var(--foreground);
    color: var(--background);
    font-weight: bold;
    border: none;
    transition: 0.5s ease-in;
}
.banner__left_side_buttons button:hover {
    opacity: 0.7;
}
.banner__left_side_buttons button:active {
    transform: scale(0.3);
}

/* FX Effects */
.scene {
  width: 200px;
  height: 200px;
  perspective: 600px;
  position: absolute;
  z-index: -1;
  right: 10%;
  transform: scale(1.5) rotate(20deg) translateY(0);
}

.cube {
  width: 70%;
  height: 70%;
  position: relative;
  transform-style: preserve-3d;
  transform: rotateX(-20deg) rotateY(20deg);
  animation: spin 20s infinite linear;
}

.face {
  position: absolute;
  width: 200px;
  height: 200px;
  border: 2px solid var(--foreground);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 18px;
  color: var(--foreground);
}

/* Faces placement */
.front  { transform: rotateY(0deg) translateZ(120px); background: rgba(0, 255, 255, 0.7); border-color: rgba(0, 255, 255, 0.7); box-shadow: 0 0 20px rgba(0, 255, 255, 0.5);}
.back   { transform: rotateY(180deg) translateZ(120px); background: rgba(138, 43, 226, 0.7); border-color: rgba(138, 43, 226, 0.7); box-shadow: 0 0 20px rgba(138, 43, 226, 0.5); }
.right  { transform: rotateY(90deg) translateZ(120px); background: rgba(0, 255, 127, 0.7); border-color: rgba(0, 255, 127, 0.7); box-shadow: 0 0 20px rgba(0, 255, 127, 0.5); }
.left   { transform: rotateY(-90deg) translateZ(120px); background: rgba(255, 215, 0, 0.7); border-color: rgba(255, 215, 0, 0.7); box-shadow: 0 0 20px rgba(255, 215, 0, 0.5); }
.top    { transform: rotateX(90deg) translateZ(120px); background: rgba(0, 128, 255, 0.7); border-color: rgba(0, 128, 255, 0.7); box-shadow: 0 0 20px rgba(0, 128, 255, 0.5); }
.bottom { transform: rotateX(-90deg) translateZ(120px); background: rgba(255, 69, 0, 0.7); border-color: rgba(255, 69, 0, 0.7);  box-shadow: 0 0 20px rgba(255, 69, 0, 0.5); }

@keyframes spin {
  0% { transform: rotateX(-20deg) rotateY(0deg); }
  100%   { transform: rotateX(-20deg) rotateY(360deg); }
}

