/* Display Default */
.header__container, .nav__bar, .nav__bar ul,
.nav__bar li, .logo__links, .hamburger__nav__bar ul,
.hamburger__nav__bar li, .hamburger__logo__links {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Custom Config */
.header__container {
    width: var(--global-width);
    height: inherit;
    padding: clamp(0.8rem, 1vw + 0.4rem, 1.2rem);
}
.nav__bar {
    width: auto;
    height: auto;
    margin: 0 auto;
}
.nav__bar ul {
    list-style: none;
}
.nav__bar li {
    margin: 0 clamp(0.8rem, 1vw + 0.4rem, 1.8rem);
    padding: 0.5rem;
    font-weight: bolder;
    text-align: center;
    flex-flow: column;
}
.nav__bar a {
    font-size: clamp(0.5rem, 1vw + 0.2rem, 1rem);
}
.logo__links {
    margin: 0 clamp(0.5rem, 1vw + 0.3rem, 1.2rem);
}
.logo__links h3 {
    margin: 0 0.5rem;
    font-size: clamp(0.8rem, 1vw + 0.5rem, 1.1rem);
}
.wallet__connect {
    margin: 0 clamp(0.8rem, 1vw + 0.3rem, 1.2rem);
    font-size: clamp(0.8rem, 1vw + 0.5rem, 0.89rem);
}
.hambuger__toggle {
    display: none;
    z-index: 20;
}
.hambuger__containers {
    width: 100dvw;
    height: 100dvh;
    position: fixed;
    z-index: 10;
    bottom: 0;
    transition: 0.5s ease-in-out;
    opacity: 0.2;
    transform: translateX(-100%);
}
.hambuger__containers_open {
    transform: translateX(0);
    opacity: 1;
}
.hamburger__nav__bar {
    width: 70%;
    height: inherit;
    overflow: hidden;
    box-shadow: 0px 0px 20px 10px #000;
    background-color: var(--background);
}
.hamburger__nav__bar ul {
    width: 100%;
    height: auto;
    flex-flow: column;
    list-style: none;
    margin: 3.5rem 0;
}
.hamburger__nav__bar li {
    width: 100%;
    height: 60px;
    justify-content: left;
}
.hamburger__logo__links {
    width: 100%;
    height: 70px;
    justify-content: space-between;
    flex-flow: column;
}
.hamburger__nav__bar a {
    margin: 0 1.2rem;
    font-weight: bold;
}

@media (max-width: 800px) {
    .header__container {
        justify-content: space-between;
    }
    .nav__bar {
        display: none;
    }
    .hambuger__toggle {
        display: block;
    }
}