.header__container {
    width: min(1366px, 100dvw);
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: clamp(0.8rem, 1vw, 1.3rem) 0;
    position: relative;
}
.nav__bar {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.nav__bar ul {
    display: flex;
    justify-content: right;
    align-items: center;
    list-style: none;
}
.nav__bar li {
    margin: 0 0.7rem;
    padding: 0.5rem;
    font-weight: bolder;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}
.nav__bar a {
    font-size: clamp(0.5rem, 1vw + 0.2rem, 1rem);
}
.logo__links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1.2rem;

}
.logo__links h3 {
    margin: 0 0.5rem;
    font-size: clamp(0.8rem, 1vw + 0.5rem, 1.1rem);
}
.wallet__connect {
    margin: 0 1.2rem;
    font-size: clamp(0.8rem, 1vw + 0.5rem, 0.89rem);
}
.hambuger__toggle {
    display: none;
    z-index: 20;
}

.hambuger__containers {
    width: 0;
    height: 100dvh;
    position: fixed;
    z-index: 10;
    bottom: 0;
    transition: 0.5s ease-in-out;
    opacity: 0;
}
.hamburger__nav__bar {
    width: 0;
    height: inherit;
    overflow: hidden;
    box-shadow: 0px 0px 20px 10px #000;
    transition: 0.5s ease-in-out;
    background-color: var(--background);
}
.hamburger__nav__bar ul {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-flow: column;
    list-style: none;
    margin: 3.5rem 0;
}
.hamburger__nav__bar li {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: left;
    align-items: center;
}
.hamburger__logo__links {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: column;
}
.hamburger__nav__bar a {
    margin: 0 1.2rem;
    font-weight: bold;
}

@media (max-width: 800px) {
    .header__container {
        justify-content: space-between;
    }
    .nav__bar {
        display: none;
    }
    .hambuger__toggle {
        display: block;
    }
    .wallet__connect {
        margin: 0 1rem;
    }
}