/* Root Configurations */

:root {
  --background: #FAFAFA;
  --foreground: #171717;

  --primary-text: #202020;
  --link-text: #1E88E5;

  /* For Testing Layout */
  --gray-spot: #d9d9d9;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #121212;
    --foreground: #ededed;
    --primary-text: #E0E0E0;
    --link-text: #BB86FC;
  }
}