/* Root Configurations */

:root {
  --background: #FAFAFA;
  --foreground: #171717;
  --neutral-gray: #F0F0F0;
  --shadows: #9b9797;

  --primary-text: #202020;
  --link-text: #1E88E5;

  --image-invert: invert(1);

  --image-invert_2: invert(0);

  --image-grayScale: grayscale(0%);

  /* default global width */
  --global-width: min(1366px, 100dvw);

  --gray-spot: #d9d9d9;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #121212;
    --foreground: #ededed;
    --neutral-gray: #2A2A2A;
    --shadows: #000;
    --primary-text: #E0E0E0;
    --link-text: #BB86FC;
    --image-invert: invert(0);
    --image-invert_2: invert(1);
    --image-grayScale: grayscale(70%);
  }
}