/* Default */
.placeholder__section,
.placeholder__container, 
.placeholder__logos {
    display: flex;
    justify-content: center;
    align-items: center;
}
.placeholder__section {
    background-color: var(--background);
    position: relative;
    box-shadow: 0rem -1.9rem 5rem var(--scroll-shadow) var(--shadows);
}

.placeholder__container {
    width: var(--global-width);
    height: auto;
    flex-flow: column;
    transform: scale(0.8);
    opacity: 0;
    transition: 0.8s ease-in-out;
    overflow: hidden;
}
.placeholder__logos {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden; /* hide scrollbar */
    white-space: nowrap;
    animation: scroll-left 30s linear infinite;
    
}

.placeholder__image {
    flex: 0 0 auto;
    filter: var(--image-invert_2);
    margin: 0 2rem;
}

@keyframes scroll-left {
    from {
        transform: translateX(20%);
    }
    to {
        transform: translateX(-30%);
    }
}

/* InView Effects */

.in_view {
    transform: scale(1);
    opacity: 1;
    transition: 0.8s ease-in-out;
}