.static__container, 
.static__status {
    display: flex;
    justify-content: center;
    align-items: center;
}

.static__container {
    width: var(--global-width);
    height: auto;
}

.static__status {
    width: 100%;
}