.about__container,
.about__left_side, 
.about__right_side {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about__container {
    width: var(--global-width);
    height: auto;
}

/* Left Side */
.about__left_side {
    width: min(500px, 100%);
    height: 800px;
    position: relative;
    overflow: hidden;
}
.about__left_side_image_1, .about__left_side_image_2 {
    position: absolute;
    filter: var(--image-grayScale);
}
.about__left_side_image_1 {
    top: 70px;
    left: 10px;
    right: 10px;
    clip-path: polygon(
        100% 0,   /* top */
        0% 30%,  /* right */
        0 80%,  /* bottom */
        100% 40%    /* left */
    );
    overflow: hidden;   
}
.about__left_side_image_2 {
    bottom: 70px;
    left: 10px;
    right: 10px;
    clip-path: polygon(
        100% 0,   /* top */
        0 55%,  /* right */
        0% 100%,  /* bottom */
        100% 50%    /* left */
    );
    overflow: hidden; 
}
/* Right Side */
.about__right_side {
    width: min(600px, 90%);
    height: clamp(380px, 40dvh, 800px);
    justify-content: flex-start;
    margin: 0 2rem;
}
.about__right_side_info h2 {
    font-size: clamp(1.2rem, 2vw + 0.2rem, 2rem);
}
.about__right_side_info p {
    font-size: clamp(0.9rem, 1vw + 0.5rem, 1.2rem);
    margin: 1rem 0;
}
.about__right_side_info div {
    width: 100%;
    height: 2px;
    background-color: var(--foreground);
    border-radius: 30%;
    margin-bottom: 1rem;
}
.about__right_side_info button {
    padding: clamp(0.6rem, 1vw + 0.4rem, 1rem);
    margin: clamp(0.6rem, 1vw + 0.4rem, 1rem) 0;
    cursor: pointer;
    background-color: var(--foreground);
    color: var(--background);
    font-weight: bold;
    border: none;
    transition: 0.5s ease-in;
}
.about__right_side_info button:hover {
    opacity: 0.7;
}
.about__right_side_info button:active {
    transform: scale(0.8);
}

@media (max-width: 800px) {
    .about__container {
        flex-flow: column;
    }
    .about__right_side {
        justify-content: flex-start;
        align-items: flex-start;
    }
    .about__left_side {
        height: 700px;
    }
    .about__left_side_image_1 {
        top: 20px;
    }
    .about__left_side_image_2 {
        bottom: 20px;
    }
}