.projects__title,
.projects__stat,
/* .projects__status,  */
.projects__stat_imageContain,
.projects__stat_title,
.projects__stat_title_buttons,
.projects__stat_title_buttons span,
.projects__stat_navigators {
    display: flex;
    justify-content: center;
    align-items: center;
}
.projects__sections {
    width: 100%;
    height: auto;
    position: relative;
    background-color: var(--background);
    overflow: hidden;
    border-top: 1px solid var(--foreground);
}
.projects__container {
    width: var(--global-width);
    height: auto;
    margin: 0 auto;
    padding: 2rem 0 0 0;
}

.projects__title {
    flex-flow: column;
    padding: 2rem;
    text-align: center;
}
.projects__title h2 {
    font-size: clamp(2rem, 2vw + 0.5rem, 3rem);
    margin: 0 0 1rem 0;
    opacity: var(--titleIsInView);
    transition: 0.5s ease;
}
.projects__title h2 span {
    opacity: 0;
    transform: translateY(20px);
    display: inline-block;
    transition: all 0.4s ease;
}

.projects__title h2[style*="--titleIsInView: 1"] span {
    opacity: 1;
    transform: translateY(0);
}

.projects__title h2 span:nth-child(1) { transition-delay: 0s; }
.projects__title h2 span:nth-child(2) { transition-delay: 0.1s; }
.projects__title h2 span:nth-child(3) { transition-delay: 0.2s; }
.projects__title h2 span:nth-child(4) { transition-delay: 0.3s; }
.projects__title h2 span:nth-child(5) { transition-delay: 0.4s; }
.projects__title h2 span:nth-child(6) { transition-delay: 0.5s; }
.projects__title h2 span:nth-child(7) { transition-delay: 0.6s; }
.projects__title h2 span:nth-child(8) { transition-delay: 0.7s; }


.projects__title p {
    margin: 0 clamp(1rem, 1vw + 0.5rem, 3rem);
    font-size: clamp(0.9rem, 1vw + 0.5rem, 1.2rem);
    opacity: var(--paraIsInView);
    transition: 0.5s ease;
}

.projects__title p span {
    opacity: 0;
    transform: translateY(20px);
    display: inline-block;
    margin: 0 0.2rem;
    transition: all 0.4s ease;
}

.projects__title p[style*="--paraIsInView: 1"] span {
    opacity: 1;
    transform: translateY(0);
}

.projects__title p span:nth-child(1) { transition-delay: 0s; }
.projects__title p span:nth-child(2) { transition-delay: 0.1s; }
.projects__title p span:nth-child(3) { transition-delay: 0.2s; }
.projects__title p span:nth-child(4) { transition-delay: 0.3s; }
.projects__title p span:nth-child(5) { transition-delay: 0.4s; }
.projects__title p span:nth-child(6) { transition-delay: 0.5s; }
.projects__title p span:nth-child(7) { transition-delay: 0.6s; }
.projects__title p span:nth-child(8) { transition-delay: 0.7s; }
.projects__title p span:nth-child(9) { transition-delay: 0.8s; }

.projects__status {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    width: 100%;         
    height: auto;
    padding: 0 calc(50% - 400px);
}

.projects__stat {
    flex: 0 0 95%;      
    height: 600px;            
    scroll-snap-align: center;
    border-top: 2px solid var(--foreground);
    border-left: 2px solid var(--foreground);
    border-right: 2px solid var(--foreground);
    opacity: 0.1;
    transition: 0.5s ease; 
    pointer-events: none;
    flex-flow: column;
    overflow: hidden;
    margin: 0 2rem;
}

.projects__stat_grow {
    pointer-events: auto;
    opacity: 1;
}
.projects__stat_imageContain {
    width: 100%;
    height: 45%;
    position: relative;
    overflow: hidden;
}
.projects__stat_image {
    width: auto;
    height: auto;
    border-top: 1px solid var(--foreground);
    border-right: 1px solid var(--foreground); 
    position: absolute;
    bottom: 0;
    left: 0;
    backdrop-filter: blur(20px);
    z-index: 1;
}
.projects__stat_image__cover {
    width: 100%;
    height: 400px;
    position: relative;
}
.projects__stat_title_buttons {
    width: 100%;
    height: auto;
    border-top: 1px solid var(--foreground);
    align-items: center;
    justify-content: space-between;
    padding: 1rem clamp(1rem, 1vw + 0.5rem, 2rem);
}
.projects__stat_title_buttons h2 {
    font-size: clamp(1.2rem, 1vw + 0.5rem, 2rem);
}
.projects__stat_title_buttons span button {
    padding: clamp(0.8rem, 1vw + 0.5rem, 1rem);
    margin: 0 clamp(0.1rem, 1vw + 0.1rem, 1rem);
    cursor: pointer;
    background-color: var(--foreground);
    color: var(--background);
    font-weight: bold;
    border: none;
    transition: 0.5s ease-in;
    font-size: clamp(0.6rem, 1vw + 0.5rem, 1rem);
}
.projects__stat_title_buttons span button:hover {
    opacity: 0.7;
}
.projects__stat_title_buttons span button:active {
    transform: scale(0.3);
}
.projects__stat__info {
    width: 100%;
    height: 30%;
    padding: 1rem clamp(1rem, 1vw + 0.5rem, 2rem);
    font-size: clamp(0.9rem, 1vw + 0.5rem, 1.2rem);
}
.projects__stat_navigators {
    width: 100%;
    height: 10%;
    justify-content: space-between;
    padding: 0 clamp(1rem, 1vw + 0.5rem, 2rem);
}
.projects__stat_navigators button {
    padding: clamp(0.8rem, 1vw + 0.5rem, 1rem);
    margin: 0 clamp(0.1rem, 1vw + 0.1rem, 1rem);
    cursor: pointer;
    color: var(--foreground);
    background: transparent;
    font-weight: bold;
    border: none;
    transition: 0.5s ease-in;
    font-size: clamp(0.6rem, 1vw + 0.5rem, 1rem);
}