.projects__title,
.projects__status {
    display: flex;
    justify-content: center;
    align-items: center;
}
.projects__sections {
    width: 100%;
    height: auto;
    position: relative;
    background-color: var(--background);
    overflow: hidden;
}
.projects__container {
    width: var(--global-width);
    height: auto;
    margin: 0 auto;
    padding: 2rem 0 0 0;
}

.projects__title {
    flex-flow: column;
    padding: 2rem;
}
.projects__title h2 {
    font-size: clamp(2rem, 2vw + 0.5rem, 3rem);
    margin: 0 0 1rem 0;
}

.projects__status {
    width: 100%;
    height: auto;
    overflow: auto;
    padding: 2rem;
}
.projects__stat {
    width: 340px;
    height: 650px;
    border: 2px solid var(--foreground);
}