.contacts__container,
.contacts__info,
.contacts__src,
.contacts__info a,
.contacts__src a {
    display: flex;
    justify-content: center;
    align-items: center;
}
.contacts__footer {
    width: 100dvw;
    height: min(600px, 70vh);
    background: var(--background);
    position: absolute;
    bottom: 0;
    transition: 0.5s ease-in-out;
    box-shadow: var(--footer-shadows);
    overflow: hidden;
    z-index: 1;
}
.contacts__container {
    width: var(--global-width);
    height: 100%;
    margin: 0 auto;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 1rem;
    gap: 10px;
}
.contacts__info,
.contacts__src {
    height: 300px;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex: 1 1 40%;
}
.contacts__info h3,
.contacts__src h3,
.contacts__src h2 {
    margin: 1rem 0;
}
.contacts__info a p,
.contacts__src a p  {
    padding: 1rem;
}
.contacts__info {
    opacity: var(--show-info);
}
.contacts__info a,
.contacts__info h3 {
    transform: translateY(20px);
    opacity: 0;
    transition: all 0.4s ease;
}
.contacts__info[style*='--show-info: 1'] h3 {
    transform: translateY(0);
    opacity: 1;
}
.contacts__info[style*='--show-info: 1'] a {
    transform: translateY(0);
    opacity: 1;
}
.contacts__info a:nth-child(1) { transition-delay: 0s; }
.contacts__info a:nth-child(2) { transition-delay: 0.1s; }
.contacts__info a:nth-child(3) { transition-delay: 0.2s; }
.contacts__info a:nth-child(4) { transition-delay: 0.3s; }
.contacts__info a:nth-child(5) { transition-delay: 0.4s; }
.contacts__info a:nth-child(6) { transition-delay: 0.5s; }
.contacts__src {
    opacity: var(--show-src);
}
.contacts__src a,
.contacts__src h3 {
    transform: translateY(50px);
    opacity: 0;
    transition: all 0.4s ease;
}
.contacts__src[style*='--show-src: 1'] a,
.contacts__src[style*='--show-src: 1'] h3 {
    transform: translateY(0);
    opacity: 1;
}
.contacts__src a:nth-child(1) { transition-delay: 0s; }
.contacts__src a:nth-child(2) { transition-delay: 0.1s; }
.contacts__src a:nth-child(3) { transition-delay: 0.2s; }
.contacts__src a:nth-child(4) { transition-delay: 0.3s; }
.contacts__src a:nth-child(5) { transition-delay: 0.4s; }

.contacts__src h2 {
    opacity: var(--show-src-h2);
}

.contacts__src h2 span {
    transform: translateX(20px);
    opacity: 0;
    display: inline-block;
    transition: all 0.4s ease;
}

.contacts__src h2[style*='--show-src-h2: 1'] span {
    transform: translateX(0);
    opacity: 1;
}

.contacts__src h2 span:nth-child(1) { transition-delay: 0s; }
.contacts__src h2 span:nth-child(2) { transition-delay: 0.1s; }
.contacts__src h2 span:nth-child(3) { transition-delay: 0.2s; }
.contacts__src h2 span:nth-child(4) { transition-delay: 0.3s; }
.contacts__src h2 span:nth-child(5) { transition-delay: 0.4s; }
.contacts__src h2 span:nth-child(6) { transition-delay: 0.5s; }
.contacts__src h2 span:nth-child(7) { transition-delay: 0.6s; }
.contacts__src h2 span:nth-child(8) { transition-delay: 0.7s; }
.contacts__src h2 span:nth-child(9) { transition-delay: 0.8s; }
.contacts__src h2 span:nth-child(10) { transition-delay: 0.9s; }
.contacts__src h2 span:nth-child(11) { transition-delay: 1s; }